
html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top:150px;
	margin: 0 0 100px;
}

/* __________ HEADER _________ */

header {
	position:fixed;
	width:100%;
	top:0;
	z-index: 500;
}

.header {
	margin:0px;
	padding:0px;
	background-color:#000;
	border:1px solid #000;
}

#headerLogo {
	font-size: 23px; 
	margin-left:10px;
	font-weight: bold;
	color:#C9C89C;
}

#headerLogin {
	font-size: 18px; 
	margin-right:10px;
	color:#C9C89C;
}

#headerLogout {
	font-size: 18px; 
	margin-right:10px;
	color:#C9C89C;
}
#header_auth_info{
	color:#C9C89C;
}
/* __________ MENU _________ */

.menuBar {
	background-color:#C9C89C;
	padding :10px;
}

.menuBar ul :hover {
	background-color:#C9C89C;
}

.menuBar li :hover {
	background-color:#C9C89C;
}

.menuBar li a{
	color:#000000; 
	background-color:#C9C89C;
}

.menuBar a:hover{
	background-color:#C9C89C;
	color:#000000;  
}

.menuBar li a {
	font-size: 18px; 
}

.menuBar li a :hover {
	font-size: 18px; 
}

/* __________ FOOTER _________ */


footer {
	background-color:#C9C89C;
	min-height:80px;
	max-height:100px;
	font-family:'Open Sans', sans-serif;
	bottom:0px;width:100%;
	position:fixed;
}

.footerleft { 
	margin-top:10px;
	padding:0 36px;
}
 
.logofooter { 
	margin-bottom:10px; 
	font-size:25px; 
	color:#000000; 
	font-weight:700;
}

.footer-ul { 
	list-style-type:none; 
	 padding-left:0px; 
	 margin-left:2px;
 }
 
.footer-ul li {
	color:#000000; 
	font-size:12px;
}

.footer-ul li a{
	color:#000000; 
	font-size:12px;
}


.footer-ul li a:hover {
	color:#000000; 
}
 .heading {
	 font-size:17px;
	 font-weight:700;
	 color:#000000;
	 margin-bottom:10px;
}



.registerForm{
	margin:0px;
}
/* __________ CONTENT _________ */

.contentPadding{
	padding-bottom:150px;
}


/* ___________ LOGIN __________*/

.loginForm{
	margin-top:30px;
}

/*  PRODUCTS */

.productGridInfo p  {
	padding:0px;
	margin:0px;
}

.gridItem{
	background-color:#F2F2F2;
	margin:32px;
}


/* PRODUCT DETAILS */
.detailsTable td{
	 font-size:14px;
}

.detailsTableHeading {
	 font-size:15px;
	 font-weight:bold;
}

.panel-info{
	margin-bottom:100px;
}

#product_name{
	color:#000;
	font-weight:bold;
	margin-left:30px;
	font-size:22px;
}

/* CART */

#cart_tfooter{
	padding:30px;
}